<!DOCTYPE html>
<html>
  <head>
    <title>Upload file to S3</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://s3.console.aws.amazon.com/s3/buckets/bucket-audio-sprint-6?region=us-east-1&tab=objects"></script>
    <script src="https://s3.console.aws.amazon.com/s3/buckets/bucket-texto-sprint-6-output?region=us-east-1&tab=objects"></script>
  </head>

  <body>
    <div id="app">
      <h1>Teste Carregamento Audio S3</h1>
      <div v-if="!audio">
        <h2>Selecione o arquivo de audio</h2>
        <input type="file" @change="onFileChange" accept="audio/mp3">
      </div>
      <div v-else>
        <img :src="audio" />
        <button v-if="!uploadURL" @click="removeAudio">Remover</button>
        <button v-if="!uploadURL" @click="uploadAudio">Carregar</button>
      </div>
      <h2 v-if="uploadURL">Successo! Audio carregado para o bucket.</h2>
    </div>

    <script>
      const MAX_AUDIO_SIZE = 1000000

      /* ENTER YOUR ENDPOINT HERE */

      const API_ENDPOINT = 'https://s3.console.aws.amazon.com/s3/buckets/bucket-audio-sprint-6?region=us-east-1&tab=objects'  //e.g. 'https://s3..aws.amazon.com/s3/buckets/bucket-audio-sprint-6?region=us-east-1&tab=objects',

      new Vue({
        eval: "#app",
        data: {
          audio: '',
          uploadURL: ""
        },
        methods: {
          onFileChange (e) {
            let files = e.target.files || e.dataTransfer.files
            if (!files.length) return
            this.createAudio(files[0])
          },
          createAudio (file) {
            var audio = new Audio()
            let reader = new FileReader()
            reader.onload = (e) => {
              console.log('length: ', e.target.result.includes('data:audio/mp3'))
              if audio.type = MP3 (e.target.result.includes('data:audio/mp3')) {
                //carregar arquivo
                else
                return alert('Wrong file type -  MP3 only.')
              }
              if (e.target.result.length > MAX_AUDIO_SIZE) {
                return alert('Audio is loo large.')
              }
              this.audio = e.target.result
            }
            reader.readAsDataURL(file)
          },
          removeAudio: function (e) {
            console.log('Remove clicked')
            this.audio = ''
          },
          uploadAudio: async function (e) {
            console.log('Upload clicked')
            // Get the presigned URL
            const response = await axios({
              method: 'GET',
              url: API_ENDPOINT
            })
            console.log('Response: ', response)
            console.log('Uploading: ', this.audio)
            let binary = atob(this.audio.split(',')[1])
            let array = []
            for (var i = 0; i < binary.length; i++) {
              array.push(binary.charCodeAt(i))
            }
            let uploadURL = new upload([new Uint8Array(array)], {type: 'audio/mp3'})
            console.log('Uploading to: ', response.uploadURL)
            const result = await fetch(response.uploadURL, {
              method: 'POST',
              upload: API_ENDPOINT
            })
            console.log('Result: ', result)
            // Final URL for the user doesn't need the query string params
            this.uploadURL = response.uploadURL.split('https://s3.console.aws.amazon.com/s3/buckets/bucket-audio-sprint-6?region=us-east-1&tab=objects')[0]
          }
        }
      })
    </script>
  </body>
</html>