nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #0084ff1e
}
nav h2{
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
}

footer{
  bottom: 0;
  position: absolute;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100px; /* Optional: set the height of the footer */
  background-color: #0084ff1e;
  width: 100%;
}
footer h3{
  text-align: center;
  padding-top: 15px;
}
footer ul{
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
}
footer ul li{
  margin: 0 10px;
  font-weight: 500;
}